# ignore pycache
__pycache__

# ignore compiled python
*.pyc

# ignore MacOS files
*.DS_Store

# ignore git
.git

# ignore Jetbrains
.idea

# ignore virtual environment
venv

# ignore database
app.db

# ignore frontend distribution
app/static/dist
app/templates/index.html
