{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<style>
    .list {
        font-size: 1.5em;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Sunset Theater API</h1>
            {% if not current_user.is_authenticated %}
                <a class="btn btn-primary" href="{{ url_for('security.login') }}">login</a>
                <a class="btn btn-default" href="{{ url_for('security.register') }}">register</a>
            {% endif %}

            <div>
                <h3>Route Information</h3>
                <ul style="font-size: 1.25em; column-count: 2">
                    <li class="list">/access</li>
                    <ul><li>[POST] - username, password</li></ul>

                    <li class="list">/date</li>
                    <ul><li>[GET] - movie_id</li></ul>

                    <li class="list">/movie</li>
                    <ul>
                        <li>[GET] - movie_id</li>
                        <li>[POST]</li>
                    </ul>

                    <li class="list">/movies/all</li>
                    <ul><li>[GET]</li></ul>

                    <li class="list">/movies/date</li>
                    <ul><li>[GET] - date</li></ul>

                    <li class="list">/shows/date</li>
                    <ul><li>[GET] - date</li></ul>

                    <li class="list">/show/seating</li>
                    <ul><li>[GET] - show_id</li></ul>

                    <li class="list">/reservations</li>
                    <ul>
                        <li>[GET]</li>
                        <li>[POST] - show_id, seat_id</li>
                        <li>[DELETE] - reservation_id</li>
                    </ul>

                    <li class="list">/seat/reserved</li>
                    <ul><li>[GET] - show_id, seat_id</li></ul>

                    <li class="list">/registration</li>
                    <ul><li>[POST] - first_name, last_name, email, password</li></ul>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
