<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sunset Theater</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="../static/dist/Theater/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<link rel="stylesheet" href="../static/dist/Theater/styles.7c578d4df0e7a819e738.css"></head>
<body>
  <app-root></app-root>
<script src="../static/dist/Theater/runtime-es2015.edb2fcf2778e7bf1d426.js" type="module"></script><script src="../static/dist/Theater/runtime-es5.edb2fcf2778e7bf1d426.js" nomodule defer></script><script src="../static/dist/Theater/polyfills-es5.6696c533341b95a3d617.js" nomodule defer></script><script src="../static/dist/Theater/polyfills-es2015.2987770fde9daa1d8a2e.js" type="module"></script><script src="../static/dist/Theater/main-es2015.7aa1962ab7b09a6cf599.js" type="module"></script><script src="../static/dist/Theater/main-es5.7aa1962ab7b09a6cf599.js" nomodule defer></script></body>
</html>
